<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12">
      <div class="card padding">
        <div class="card-body row">
          <div class="add-summary col-4">
            <input
              class="add-summary-text"
              placeholder="summary name..."
              [(ngModel)]="newName"
              (keypress)="add($event)"
            > <!-- write function! -->
            <span class="fa-stack fa-2x primary" (click)="addCacheSummary()"> <!-- write function!  -->
              <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fas fa-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
          </div>
          <div class="message col-8" [hidden]="!message.show" [ngClass]="{'error-border': message.type==='error'}">
            <span class="primary">
              <i class="fas fa-2x" aria-hidden="true"
                [ngClass]="{'fa-exclamation-triangle error': message.type==='error','fa-clipboard-check' : message.type==='info'}"
              ></i>
            </span>
            <div class="message-content"> {{message.content}} </div>
            <span class="primary" (click)="hideMessage()">
              <i class="fas fa-times" aria-hidden="true"
                  [ngClass]="{'error': message.type==='error'}"
              ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="card padding row" *ngFor="let summary of summaries">
        <div class="card-body">
            <h2 class="card-title">
              <input   class="read-only"
                      [(ngModel)]="summary.name"
                      [readonly]="!summary.editMode"
                      [ngClass]="{'read-only': !summary.editMode,'editMode' : summary.editMode}"
                      (keypress)="updateCacheSummary($event,summary)"
                      #cmp
                      tabindex="{{3 * summaries.indexOf(summary)}}"
                      id="{{summaries.indexOf(summary)}}"
                      > <!-- implement function! -->
              <span class="fa-stack fa-2x primary" (click)="editCacheSummary(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i   class="fas fa-pencil-alt fa-stack-1x fa-inverse"
                     aria-hidden="true"
                     [ngClass]="{'fa-pencil-alt': !summary.editMode,'fa-check': summary.editMode}"
                     > <!-- implement function -->
                </i>
              </span>
              <span class="fa-stack fa-2x primary" (click)="removeCacheSummary(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-trash-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
              </span> <!-- implement function -->
              <span class="fa-stack fa-2x primary" (click)="addFilter(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-filter fa-stack-1x fa-inverse" aria-hidden="true"></i>
              </span> <!-- implement function -->
              <span class="fa-stack fa-2x primary" (click)="addLookup(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
              </span> <!-- implement function -->
              <span class="fa-stack fa-2x primary" (click)="addParam(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fas fa-question fa-stack-1x fa-inverse" aria-hidden="true"></i>
              </span>
              <span class="fa-stack fa-2x primary" (click)="executeCache(summary)">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i  class="fas fa-play fa-stack-1x fa-inverse"
                    aria-hidden="true"
                    [ngClass]="{'fa-play': !summary.inProgress,'fa-spinner': summary.inProgress}"
                    >
                </i>
              </span>
          </h2>
          <div class="container">
            <form>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="path-{{summaries.indexOf(summary)}}">Path:</label>
                <div class="col-sm-4">
                  <input   class="read-only form-control"
                        [(ngModel)]="summary.path"
                        [readonly]="!summary.editMode"
                        [ngClass]="{'read-only': !summary.editMode,'editMode' : summary.editMode}"
                        (keypress)="updateCacheSummary($event,summary)"
                        type="text"
                        name="path-{{summaries.indexOf(summary)}}"
                        id="path-{{summaries.indexOf(summary)}}"
                        > <!-- implement function! -->
                </div>
                <label class="col-sm-2 col-form-label" for="source-{{summaries.indexOf(summary)}}">Source:</label>
                <div class="col-sm-4">
                  <input   class="read-only form-control"
                        [(ngModel)]="summary.source"
                        [readonly]="!summary.editMode"
                        [ngClass]="{'read-only': !summary.editMode,'editMode' : summary.editMode}"
                        (keypress)="updateCacheSummary($event,summary)"
                        type="text"
                        name="source-{{summaries.indexOf(summary)}}"
                        id="source-{{summaries.indexOf(summary)}}"
                        > <!-- implement function! -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="profileName-{{summaries.indexOf(summary)}}">Profile Name:</label>
                <div class="col-sm-4">
                  <input   class="read-only form-control"
                        [(ngModel)]="summary.profileName"
                        [readonly]="!summary.editMode"
                        [ngClass]="{'read-only': !summary.editMode,'editMode' : summary.editMode}"
                        (keypress)="updateCacheSummary($event,summary)"
                        type="text"
                        name="profileName-{{summaries.indexOf(summary)}}"
                        id="profileName-{{summaries.indexOf(summary)}}"
                        > <!-- implement function! -->
                </div>
                <label class="col-sm-2 col-form-label" for="updatedOn-{{summaries.indexOf(summary)}}">Updated On:</label>
                <div class="col-sm-4">
                  <input   class="read-only form-control"
                        [(ngModel)]="summary.updatedOn"
                        [readonly]="!summary.editMode"
                        [ngClass]="{'read-only': !summary.editMode,'editMode' : summary.editMode}"
                        (keypress)="updateCacheSummary($event,summary)"
                        type="text"
                        name="updatedOn-{{summaries.indexOf(summary)}}"
                        id="updatedOn-{{summaries.indexOf(summary)}}"
                        > <!-- implement function! -->
                </div>
              </div>
              <div class="card padding row">
                <div *ngIf="summary.filter!=null" class="card-body">
                  <h5>Filter</h5>
                  <div class="form-group row ">
                    <label class="col-sm-3 col-form-label" for="filterType-{{summaries.indexOf(summary)}}">Type:</label>
                    <div class="col-sm-3">
                      <input   class="read-only form-control"
                            [(ngModel)]="summary.filter.type"
                            [readonly]="!summary.filter.editMode"
                            [ngClass]="{'read-only': !summary.filter.editMode,'editMode' : summary.filter.editMode}"
                            (keypress)="updateCacheSummaryFilter($event,summary,summary.filter)"
                            type="text"
                            name="filterType-{{summaries.indexOf(summary)}}"
                            id="filterType-{{summaries.indexOf(summary)}}"
                            > <!-- implement function! -->
                    </div>
                    <label class="col-sm-3 col-form-label" for="validString-{{summaries.indexOf(summary)}}">Lookup Value:</label>
                    <div class="col-sm-3">
                      <input   class="read-only form-control"
                            [(ngModel)]="summary.filter.validString"
                            [readonly]="!summary.filter.editMode"
                            [ngClass]="{'read-only': !summary.filter.editMode,'editMode' : summary.filter.editMode}"
                            (keypress)="updateCacheSummaryFilter($event,summary,summary.filter)"
                            type="text"
                            name="validString-{{summaries.indexOf(summary)}}"
                            id="validString-{{summaries.indexOf(summary)}}"
                            > <!-- implement function! -->
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-3 col-form-label" for="targetField-{{summaries.indexOf(summary)}}">Target Field:</label>
                    <div class="col-sm-3">
                      <input   class="read-only form-control"
                            [(ngModel)]="summary.filter.targetField"
                            [readonly]="!summary.filter.editMode"
                            [ngClass]="{'read-only': !summary.filter.editMode,'editMode' : summary.filter.editMode}"
                            (keypress)="updateCacheSummaryFilter($event,summary,summary.filter)"
                            type="text"
                            name="targetField-{{summaries.indexOf(summary)}}"
                            id="targetField-{{summaries.indexOf(summary)}}"
                            > <!-- implement function! -->
                    </div>
                    <div class="col-sm-6">
                      <span class="fa-stack fa-2x primary" (click)="editFilter(summary.filter)">
                        <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i   class="fas fa-pencil-alt fa-stack-1x fa-inverse"
                             aria-hidden="true"
                             [ngClass]="{'fa-pencil-alt': !summary.filter.editMode,'fa-check': summary.filter.editMode}"
                             > <!-- implement function -->
                        </i>
                      </span>
                      <span class="fa-stack fa-2x primary" (click)="removeFilter(summary)">
                        <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i class="fas fa-trash-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card padding row">
                <div *ngIf="summary.params && summary.params.length>0" class="card-body">
                  <h5>Params</h5>
                  <div class="form-group row " *ngFor="let param of summary.params">
                    <label class="col-sm-2 col-form-label" for="key-{{summaries.indexOf(summary)}}-{{param.key}}">Key:</label>
                    <div class="col-sm-2">
                      <input   class="read-only form-control"
                            [(ngModel)]="param.key"
                            [readonly]="!param.editMode"
                            [ngClass]="{'read-only': !param.editMode,'editMode' : param.editMode}"
                            (keypress)="updateCacheSummarySubObject($event,summary,param)"
                            type="text"
                            name="key-{{summaries.indexOf(summary)}}-{{param.key}}"
                            id="key-{{summaries.indexOf(summary)}}-{{param.key}}"
                            > <!-- implement function! -->
                    </div>
                    <label class="col-sm-2 col-form-label" for="value-{{summaries.indexOf(summary)}}-{{param.value}}">Value:</label>
                    <div class="col-sm-2">
                      <input   class="read-only form-control"
                            [(ngModel)]="param.value"
                            [readonly]="!param.editMode"
                            [ngClass]="{'read-only': !param.editMode,'editMode' : param.editMode}"
                            (keypress)="updateCacheSummarySubObject($event,summary,param)"
                            type="text"
                            name="value-{{summaries.indexOf(summary)}}-{{param.value}}"
                            id="value-{{summaries.indexOf(summary)}}-{{param.value}}"
                            > <!-- implement function! -->
                    </div>
                    <div class="col-sm-2">
                      <span class="fa-stack fa-2x primary" (click)="editParam(param)">
                        <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i   class="fas fa-pencil-alt fa-stack-1x fa-inverse"
                             aria-hidden="true"
                             [ngClass]="{'fa-pencil-alt': !param.editMode,'fa-check': param.editMode}"
                             >
                        </i>
                      </span>
                      <span class="fa-stack fa-2x primary" (click)="removeParam(summary,param)">
                        <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i class="fas fa-trash-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                      </span> <!-- implement function -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
