<header>
  <mat-toolbar color="primary">

  <mat-toolbar-row>
    <mat-icon class="menu-icon">insert_chart</mat-icon>
    <span class="menu-item">Zen-Reporter</span>
    <mat-icon class="menu-icon">group</mat-icon>
    <span class="menu-item">Profiles</span>
    <mat-icon class="menu-icon">move_to_inbox</mat-icon>
    <span class="menu-item">Cache</span>
    <mat-icon class="menu-icon">file_copy</mat-icon>
    <span class="menu-item">Reports</span>
    <span class="menu-spacer"></span>
    <mat-icon class="menu-icon">person</mat-icon>
  </mat-toolbar-row>

  </mat-toolbar>
</header>
<!--
<section class="container">
  <div class="row">
    <mat-card class="col-md-6">1</mat-card>
    <mat-card class="col-md-6">2</mat-card>
    <mat-card class="col-md-6">3</mat-card>
    <mat-card class="col-md-6 ">4</mat-card>
  </div>
</section>
-->
<footer></footer>
