<header>
  <mat-toolbar class="toolbar">

  <mat-toolbar-row>
    <mat-icon class="menu-icon">insert_chart</mat-icon>
    <span class="menu-item">Zen-Reporter</span>
    <mat-icon class="menu-icon">group</mat-icon>
    <span class="menu-item">
      <a routerLink="/profiles" routerLinkActive="active">
        Profiles
      </a>
    </span>
    <mat-icon class="menu-icon">move_to_inbox</mat-icon>
    <span class="menu-item">
      <a routerLink="/cache" routerLinkActive="active">
        Cache
      </a>
    </span>
    <mat-icon class="menu-icon">file_copy</mat-icon>
    <span class="menu-item">Reports</span>
    <span class="menu-spacer"></span>
    <mat-icon class="menu-icon">person</mat-icon>
  </mat-toolbar-row>

  </mat-toolbar>
</header>
<div class="flexbox-parent">
  <div fullscreen class="router" layout-align="center center" layout-fill layout="row">
    <router-outlet></router-outlet>
  </div>
</div>
